/* WelcomePage.css */

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align the text */
}

.welcome-content h1.Welcome {
  font-size: 2.5rem;
  color: #8b4513;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a text shadow */
}

.welcome-content h1 {
  margin-bottom: 10px;
}

.welcome-content p {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.welcome-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-content form button {
  margin-top: 20px;
  align-self: center;
}
